/* Funzioni generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#container{
    max-width: 1200px;
    margin: 30px auto;
    color:#929292
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.main-elements-cf{
    float: left;
    height: 600px;
    width: 25%;
}


/* Header */

header#main-header{
    height: 150px;
    margin: 30px 0;
}

div#logo{
    height: 75px;
    width: 150px;
    background-image: url(./img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

li{
    list-style-type: none;
    display: inline-block;
    line-height: 100px;   
}

li:not(:last-child){
    padding-right: 10px;
}

a{
    text-decoration: none;
    text-transform: uppercase;  
    color: #868686;
}

/* Main */

main{
    margin-bottom: 15px;
    padding-bottom: 30px;
}

section#main-first-section{
    height: 600px;
    margin-bottom: 30px;
    background-image: url(./img/banner.jpg);
    background-size: cover;
    background-position: center;
    background-position-y: 30%;
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    border-radius: 20px;
}

div.nav-text{
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.2);
    padding: 410px 560px 50px 50px;
    display: inline-block;
    border-radius: 20px;
}

div > h2{
    font-weight: 100;
    font-size: 35px;}

p{
    font-size: 18px;
}

nav.second-section-header{
    height: 100px;
    margin-bottom: 30px;
    padding-top: 45px;
}

nav.second-section-header > h2{
    font-size: 35px;
    color: #000;
}

div.aside-image{background-image: url(./img/img-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 45%;
    background-position: center;
    border-radius: 10px;
}

.article-image{
    height: 45%;
    background-image: url(./img/banner-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.dark-background{
    height: 100%; 
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: inline-block;
    border-radius: 10px;
}

#second-aside-image{
    background-image: url(./img/img-3.jpg);
}

h4{
    padding: 10px 0;
    color: #000;
}

article:first-of-type{
    width: calc(50% - 60px);
    margin: 0px 30px;
}

/* Footer */

footer:last-child{
    height: 50px;
    background-color: #8801fe;
}